body {
	font-family: "Open Sans", sans-serif;
	background-color: #c8ddd7;
	margin: 0px 3%;
}

.wrapper {
	width: 100%;
}

.nav-icon {
	margin: 1.5% 15px;
}

a {
	text-decoration: none;
}

.button {
	border: 1px solid #ff8c61;
	padding: 4% 8%;
	border-radius: 5px;
	width: 50%;
	text-align: center;
	margin: 3% auto;
	margin-bottom: 9%;
}

.button a {
	font-size: 120%;
}

.accounts-div {
	margin: 0 auto;
}

.account {
	border-top: 2px solid #ff8c61;
	width: 28%;
	display: inline-block;
	margin: 0% auto;
	background-color: #666666;
	border-radius: 10px;
	height: 120px;
	margin-right: 5%;
}

.acct-img {
	/*padding-left: 2px;*/
}

.acct-description {
	float: right;
	width: 64%;
	padding: 6% 1%;
	text-align: center;
}

.payment {
	border-radius: 10px;
	background-color: #ffffff;
	width: 55%;
	float: right;
	padding: 12px 30px;
}

.usage {
	margin-top: 4%;
}

.summary {
	border-radius: 10px;
	background-color: #ffffff;
	width: 30%;
	height: 40%;
	padding: 12px 30px;
	float: left;
}

.current-bal p {
	font-size: 110%;
}

.usage-label {
	float: left;
	width: 30%;
}

.usage-price {
	float: right;
	width: 20%;
}

.summary-viz {
	clear: both;
	margin-top: 5%;
	width: 100%
}

.orange {
	color: #ff8c61;
}

.white {
	color: #ffffff;
}


.group-usage{
	border-radius: 10px;
	float: right;
	background-color: #ffffff;
	width: 55%;
	padding: 12px 30px;
	padding-right: 20px;
}

#new-group {
	background-color: #ff8c61;
}

#container {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}